@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

:root {
  --font-family: 'League Spartan', sans-serif;
  --weight-basic: 500;
  --weight-bold: 700;
  --font-size: 1.5rem;
  --mobile-width: 375px;
  --desctop-width: 1160px;
  --container-desctop: 1110px;
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-background: hsl(180, 52%, 96%);
  --light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
  --white: #fff;
  --black: #000;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-weight: var(--weight-basic);
  font-size: var(--font-size);
}

a {
  text-decoration: none;
}

.bold {
  font-weight: var(--weight-bold);
}
.black {
  color: var(--black);
}
.very-dark-blue {
  color: var(--very-dark-blue);
}

/* Header */

.header {
  background-color: var(--desaturated-dark-cyan);
  height: 130px;
  width: 100vw;
  background-image: url('./assets/bg-header-desktop.svg');
}

.job-list {
  background-color: var(--light-grayish-cyan-background);
  padding: 76px 165px;
  height: 100%;
  width: 100%;
}

.job {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  margin: 40px 24px;
  padding: 32px 24px 27px;
  position: relative;
}
.job__highlight {
  border-left: 5px solid var(--desaturated-dark-cyan);
}
.job__logo {
  position: absolute;
  top: -24px;
  width: 48px;
}
.job__description-box {
  border-bottom: 1px solid #B7C4C4;
}
.job__company-line {
  margin: 8px 0 9px;
}
.job__company {
  color: var(--desaturated-dark-cyan);
  font-family: var(--font-family);
  font-size: 1.3rem;
  font-weight: var(--weight-bold);
  margin-right: 29px;
  padding: 7px 0 4px;
}
.job__status {
  border-radius: 12px;
  font-size: 1.4rem;
  font-weight: var(--weight-bold);
  letter-spacing: -0.108px;
  margin-right: 8px;
  padding: 7px 8px 4px;
  text-transform: uppercase;
}
.job__status--cyan {
  background-color: var(--desaturated-dark-cyan);
  color: var(--white);
}
.job__status--black {
  background-color: var(--very-dark-grayish-cyan);
  color: var(--white);
}
.job__position {
  color: var(--very-dark-grayish-cyan);
  font-size: 1.5rem;
  font-weight: var(--weight-bold);
  margin: 9px 0;
  line-height: 24px;
}
.job__position:hover {
  color: var(--desaturated-dark-cyan);
}
.job__details-box {
  display: flex;
  align-items: center;
  margin: 9px 0 15px;
}
.job__detail {
  color: var(--dark-grayish-cyan);
  font-size: 1.6rem;
  font-family: var(--font-family);
  font-weight: var(--weight-basic);
  line-height: 24px; /* 150% */
  letter-spacing: -0.123px;
}
.job__dot {
  background: var(--dark-grayish-cyan);
  border-radius: 50px;
  height: 4px;
  width: 4px;
  margin: 0 10px;
}
.job__requirements-box {
  display: flex;
  flex-wrap: wrap;
}
.job__requirement {
  background-color: var(--light-grayish-cyan-filter-tablets);
  border-radius: 4px;
  color: var(--desaturated-dark-cyan);
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  letter-spacing: -0.123px;
  line-height: 24px; /* 150% */
  margin-right: 18px;
  padding: 9px 10px 6px;
  margin-top: 16px;
}
.job__requirement:hover {
  background-color: var(--desaturated-dark-cyan);
  color: var(--white);
}

@media screen and (min-width: 1160px) {
  .job {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 31px;
  }
  .job__logo-description {
    display: flex;
    align-items: center;
  }
  .job__description-box {
    border-bottom: none;
  }
  .job__logo {
    position: relative;
    top: auto;
    width: 88px;
    height: 88px;
    margin-right: 24px;
  }
  .job__company {
    font-size: 1.8rem;
  }
  .job__position {    
    font-size: 2.2rem;
    margin: 10px 0 7px;
  }
  .job__details-box {
    margin: 0;
  }
  .job__detail {
    font-size: 1.8rem;
  }
  .job__dot {
    margin: 0 16px;
  }
}